.env
__pycache__/
*.pyc
venv/

uploads/
uploads_cvs/
uploads_careers/

recruitment.db

temp_*.pdf
temp_*.doc
temp_*.docx

arquivos_git_talentai.txt
estrutura_talentai.txt
git_status_talentai.txt
inventario_codigo_talentai.txt

templates/recruitment_backup_antes_alembic.db

app/main_backup.py
app/services/main_backup_modularizacao_7_modulos.py