<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>TalentAI Enterprise</title>

   <link rel="stylesheet"
      href="{{ url_for('static', path='css/variables.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', path='css/base.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', path='css/typography.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', path='css/layout.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', path='css/buttons.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', path='css/cards.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', path='css/grid.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', path='css/forms.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', path='css/dashboard.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', path='css/talentai_design.css') }}">

</head>

<body>

<div class="app">

    <!-- =========================
         SIDEBAR
    ========================== -->

    {% include "components/sidebar.html" %}

    <!-- =========================
         MAIN AREA
    ========================== -->

    <div class="main">

        <!-- TOPBAR -->

        {% include "components/topbar.html" %}

        <!-- WORKSPACE -->

        <main class="workspace">

            {% block content %}
            {% endblock %}

        </main>

        <!-- FOOTER -->

        {% include "components/footer.html" %}

    </div>

</div>

</body>

</html>